
/* Menu styling */
.menu-page {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
}

.menu-filter {
    border: 1px solid grey;
    width: 25%;
    padding: 3%;
}

.menu-list {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    border: 1px solid grey;
}

.menu-item {
    border: 1px solid grey;
    height: 50%;
    width: 30%;
    margin: 3%;
}